
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <a routerLink="/lugares" class="breadcrumb-item active" aria-current="page">Crear negocio</a>
    </ol>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-6">
        <div class="form-row">
          <label>Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.nombre" name="nombre">
        
          <label>Distancia</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.distancia" name="distancia">

          <label>Cercan&iacute;a</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.cercania" name="cercania">

          <label>Descripci&oacute;n</label>
          <textarea class="form-control" [(ngModel)]="lugar.descripcion" name="descripcion"></textarea>

          <label>Plan</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.plan" name="plan">
          
          <label>Calle y n&uacute;mero</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.calle" name="calle">

          <label>Ciudad</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.ciudad" name="ciudad">

          <label>País</label>
          <input type="text" class="form-control" [(ngModel)]="lugar.pais" name="pais">
        </div>
        
    </div>
  </div> 
  <div class="row pt-2">
    <div class="col">
      <a class="btn btn-success mr-2" (click)="guardarLugar()" style="color: white;" >Enviar</a>
      <button type="button" class="btn btn-outline-info" routerLink="/lugares">Cancelar</button>
    </div>
  </div>
</div> 

